
.container {
  padding-top: 50px;
}

html{
  padding-top: 30px;
}
#csv{
  font-family: "Trebuchet MS", Arial, Helvetica, sanns-serif;
  border: 1px solid #cec2c2;
}
div{
  padding-left: 10%;
  padding-right: 10%;
}
th {
  background-color: #206cad;
  padding-top:10px;
  padding-bottom:10px;
  color: white;
  font-weight:bold;
}
.table td, .table th{
  padding-left: 20px !important;
}
.odd {
  background: #e4dcdc;
}
.even {
  background: #fff;
}
tr:hover{
  background-color: #b2beff;
}