html{
  padding-top: 30px;
}
#csv{
  width: 90%;
  font-family: "Trebuchet MS", Arial, Helvetica, sanns-serif;
  border: 1px solid #cec2c2;
}
div{
  padding-left: 10%;
  padding-right: 10%;
}
th {
  background-color: #206cad;
  padding-top:10px;
  padding-bottom:10px;
  color: white;
  font-weight:bold;
}
td{
  text-align: left;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;

}
.odd {
  background: #e4dcdc;
}
.even {
  background: #fff;
}
tr:hover{
  background-color: #b2beff;
}